<a href="<%= playerClass %>">
  <div class="col">
    <div class="card shadow-sm overflow-hidden">
      <img class="card-img" src="/images/<%= playerClass %>.png" alt="<%= playerClass %>">
      <div class="card-body">
        <p class="card-text text-capitalize text-white medieval text-center">
          <%= playerClass %>
        </p>
      </div>
    </div>
  </div>
</a>