<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <% playerClasses.forEach((playerClass)=> { %>
      <%- include('class-card.ejs', {playerClass: playerClass}) %>
      <% }); %>
    </div>
  </div>
</div>