<div class="d-flex flex-column justify-content-center flex-fill w-100 ms-5">
  <div class="container">
    <h2 class="display-2 text-white myShadow">
      Sorry Champ, <br />no spells for you.
    </h2>
  </div>
</div>