<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1">
    <%= post.title %>
  </h2>
  <p class="blog-post-meta">
    <%= post.metaTitle %> by <a href="#">
        <%= post.authorId %>
      </a>
  </p>

  <p>
    <%= post.content %>
  </p>
</article>